
COLOR PALETTE IMDB:
Arancione = #deb522
Nero = 	#0c0b00
Azzurro = #128bb5
Arancione chiaro = #f2db83

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Understanding & Preparation

## Data Semantics
 • Introduce the variables with their meaning and characteristics;

In [2]:
df = pd.read_csv('imdb.csv')

In [3]:
df.head()

,originalTitle,rating,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,...,genres,castNumber,companiesNumber,averageRating,regions,externalLinks,writerCredits,directorsCredits,soundMixes,quotesTotal
0,Carmencita,"(5, 6]",1894,\N,1,0,2089,1,10,2,...,"Documentary,Short",1,3,5.7,"['\\N', 'DE', 'US', 'HU', 'GR', 'RU', 'UA', 'JP']",9,0,1,['silent'],0
1,Un bon bock,"(5, 6]",1892,\N,12,0,183,1,10,2,...,"Animation,Short",0,0,5.4,"['\\N', 'HU', 'DE', 'FR', 'RO', 'RU', 'JP']",3,0,1,['silent'],0
2,Chinese Opium Den,"(4, 5]",1894,\N,1,0,195,1,10,1,...,Short,0,1,5.0,"['\\N', 'US', 'DE', 'PT', 'HU', 'RU']",4,0,1,['silent'],0
3,Edison Kinetoscopic Record of a Sneeze,"(5, 6]",1894,\N,1,1,2237,1,10,3,...,"Documentary,Short",1,6,5.4,"['\\N', 'UA', 'JP', 'HU', 'US', 'DE', 'RU']",6,0,1,['silent'],0
4,L'arrivée d'un train à La Ciotat,"(7, 8]",1896,\N,1,0,13115,1,10,12,...,"Documentary,Short",6,5,7.4,"['\\N', 'HU', 'DE', 'TR', 'FI', 'FR', 'IT', 'E...",21,0,2,['silent'],0

### Type delle variabili

In [4]:
df.dtypes

originalTitle                   object
rating                          object
startYear                        int64
endYear                         object
runtimeMinutes                  object
awardWins                        int64
numVotes                         int64
worstRating                      int64
bestRating                       int64
totalImages                      int64
totalVideos                      int64
totalCredits                     int64
criticReviewsTotal               int64
titleType                       object
awardNominationsExcludeWins      int64
canHaveEpisodes                   bool
isRatable                         bool
isAdult                          int64
numRegions                       int64
userReviewsTotal                 int64
ratingCount                      int64
countryOfOrigin                 object
genres                          object
castNumber                       int64
companiesNumber                  int64
averageRating                  float64
regions                         object
externalLinks                    int64
writerCredits                    int64
directorsCredits                 int64
soundMixes                      object
quotesTotal                      int64
dtype: object

In [5]:
df['endYear'] = pd.to_numeric(df['endYear'], errors='coerce')
df['awardWins'] = pd.to_numeric(df['awardWins'], errors='coerce')
df['runtimeMinutes'] = pd.to_numeric(df['runtimeMinutes'], errors='coerce')
df['isAdult'] = df['isAdult'].astype(bool)

df.dtypes

originalTitle                   object
rating                          object
startYear                        int64
endYear                        float64
runtimeMinutes                 float64
awardWins                        int64
numVotes                         int64
worstRating                      int64
bestRating                       int64
totalImages                      int64
totalVideos                      int64
totalCredits                     int64
criticReviewsTotal               int64
titleType                       object
awardNominationsExcludeWins      int64
canHaveEpisodes                   bool
isRatable                         bool
isAdult                           bool
numRegions                       int64
userReviewsTotal                 int64
ratingCount                      int64
countryOfOrigin                 object
genres                          object
castNumber                       int64
companiesNumber                  int64
averageRating                  float64
regions                         object
externalLinks                    int64
writerCredits                    int64
directorsCredits                 int64
soundMixes                      object
quotesTotal                      int64
dtype: object

In [6]:
df_copy = df.copy()
df_copy.rename(columns={'awardNominationsExcludeWins':'AwNmExWins'},inplace=True)

### Statistics

In [7]:
numeric_df = df_copy.select_dtypes(include=[np.number])

# Calcolare le statistiche descrittive
desc = numeric_df.describe().round(2)

desc

,startYear,endYear,runtimeMinutes,awardWins,numVotes,worstRating,bestRating,totalImages,totalVideos,totalCredits,...,numRegions,userReviewsTotal,ratingCount,castNumber,companiesNumber,averageRating,externalLinks,writerCredits,directorsCredits,quotesTotal
count,149531.00,5634.00,109336.00,149531.00,149531.00,149531.0,149531.0,149531.00,149531.00,149531.00,...,149531.00,149531.00,149531.00,149531.00,149531.00,149531.00,149531.00,149531.00,149531.00,149531.00
mean,1994.94,2001.51,56.85,0.31,1085.13,1.0,10.0,9.53,0.24,57.62,...,2.85,5.57,1085.73,19.52,5.82,6.87,5.18,2.00,0.95,1.07
std,24.89,17.92,46.63,2.91,19999.73,0.0,0.0,101.65,5.08,154.17,...,5.30,66.40,20008.02,82.62,19.66,1.35,19.93,2.47,0.80,7.03
min,1878.00,1933.00,0.00,0.00,5.00,1.0,10.0,0.00,0.00,0.00,...,0.00,0.00,5.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
25%,1981.00,1990.00,24.00,0.00,12.00,1.0,10.0,1.00,0.00,16.00,...,1.00,0.00,12.00,5.00,1.00,6.10,0.00,0.00,1.00,0.00
50%,1999.00,2005.00,48.00,0.00,28.00,1.0,10.0,1.00,0.00,34.00,...,1.00,0.00,28.00,12.00,2.00,7.10,1.00,1.00,1.00,0.00
75%,2015.00,2017.00,87.00,0.00,107.00,1.0,10.0,4.00,0.00,64.00,...,3.00,1.00,107.00,21.00,5.00,7.80,3.00,3.00,1.00,0.00
max,2024.00,2025.00,5220.00,446.00,2947931.00,1.0,10.0,20586.00,1063.00,25218.00,...,100.00,11289.00,2948790.00,10649.00,597.00,10.00,744.00,51.00,58.00,1084.00

In [8]:
primo_Nlarge = df_copy['numVotes'].nlargest(1).iloc[-1]
primo_large = df_copy['originalTitle'].loc[df_copy['numVotes'] == primo_Nlarge]
secondo_Nlarge = df_copy['numVotes'].nlargest(2).iloc[-1]
secondo_large = df_copy['originalTitle'].loc[df_copy['numVotes'] == secondo_Nlarge]
terzo_Nlarge = df_copy['numVotes'].nlargest(3).iloc[-1]
terzo_large = df_copy['originalTitle'].loc[df_copy['numVotes'] == terzo_Nlarge]
print(primo_large, primo_Nlarge)
print(secondo_large, secondo_Nlarge)
print(terzo_large, terzo_Nlarge)

15493    The Shawshank Redemption
Name: originalTitle, dtype: object 2947931
18571    Fight Club
Name: originalTitle, dtype: object 2379685
15456    Pulp Fiction
Name: originalTitle, dtype: object 2263744

## Assessing data quality
• Are present errors, outliers, missing values, semantic inconsistencies, etc?

### Missing Value

In [9]:
df_copy.isna().sum()

originalTitle              0
rating                     0
startYear                  0
endYear               143897
runtimeMinutes         40195
awardWins                  0
numVotes                   0
worstRating                0
bestRating                 0
totalImages                0
totalVideos                0
totalCredits               0
criticReviewsTotal         0
titleType                  0
AwNmExWins                 0
canHaveEpisodes            0
isRatable                  0
isAdult                    0
numRegions                 0
userReviewsTotal           0
ratingCount                0
countryOfOrigin        39987
genres                     0
castNumber                 0
companiesNumber            0
averageRating              0
regions                    0
externalLinks              0
writerCredits              0
directorsCredits           0
soundMixes                 0
quotesTotal                0
dtype: int64

In [10]:
df_copy = df_copy.drop('endYear', axis=1)

In [11]:
df_copy['runtimeMinutes'] = df_copy['runtimeMinutes'].fillna(0)

Rimozione Variabili irrilevanti

In [14]:
df_copy['numVotes'].corr(df_copy['ratingCount'])
# The two variables 'numVotes' and 'ratingCount' represent the same attribute, so we can eliminate one of them.

df_copy = df_copy.drop(['bestRating', 'worstRating','isRatable'], axis=1)

KeyError: "['bestRating', 'worstRating', 'isRatable'] not found in axis"